@{
    ViewData["Title"] = "Home Page";
}
@{
    var txt ="";
    if(DateTime.Now.Hour > 12)
    { txt = "Good Evening"; }
    else{ txt = " Good Morning"; }
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello User, @txt</p>
   
</div>
